@supports (--css: variables) {
  .container {
    width: 100%;
    max-width: 64rem;
    padding: 0 0.5rem;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 0;
  }

  /* Header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 10;
    background-color: rgba(var(--gray-900), var(--alpha-10));
    padding: 0.5rem 0;
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navLink {
        display: block;
        height: 2.5rem;
        line-height: 2.5rem;
      }
      .navList {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;
        .navItem {
          position: relative;
          align-self: center;
          .navLink {
            .avatarWrapper {
              overflow: hidden;
              border-radius: 50%;
              border: 3px solid rgba(var(--white), var(--alpha-3));
              width: 2.5rem;
              height: 2.5rem;
              transition: 0.5s;
              &:hover {
                border-color: rgba(var(--indigo-800), var(--alpha-3));
              }
              .avatar {
                display: block;
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
          }
          .menu {
            position: absolute;
            font-size: 1rem;
            background-color: rgba(var(--gray-900), var(--alpha-10));
            border: 1px solid rgba(var(--gray-800), var(--alpha-10));
            border-radius: var(--rounded);
            padding: 0.5rem;
            top: 3.3rem;
            right: 0;
            width: 16rem;
            visibility: hidden;
            transition: 0.1s;
            &::before {
              content: "";
              position: absolute;
              top: -0.5rem;
              right: 0.7rem;
              width: 0;
              height: 0;
              border-left: 0.5rem solid transparent;
              border-right: 0.5rem solid transparent;
              border-bottom: 0.5rem solid rgba(var(--gray-800), var(--alpha-10));
            }
            .list {
              list-style: none;
              .item {
                border-radius: 0.28rem;
                padding: 0.5rem 0;
                .user {
                  display: flex;
                  flex-direction: column;
                  .username {
                    color: rgba(var(--white), var(--alpha-10));
                  }
                  .email {
                    color: rgba(var(--gray-500), var(--alpha-10));
                  }
                }
                &:hover {
                  .username,
                  .email {
                    color: rgba(var(--indigo-400), var(--alpha-10));
                  }
                  color: rgba(var(--indigo-400), var(--alpha-10));
                  background-color: rgba(var(--indigo-800), var(--alpha-3));
                }
                .link {
                  padding: 0 0.5rem;
                }
              }
              .itemHr {
                padding: 0.5rem 0;
                .hr {
                  border: none;
                  border-top: 1px solid rgba(var(--gray-800), var(--alpha-10));
                }
              }
            }
          }
          .menu.active {
            visibility: visible;
          }
        }
        .login {
          padding: 0 1rem;
          color: white;
          border-radius: var(--rounded);
          transition: 0.5s;
          &:hover {
            color: rgba(var(--indigo-400), var(--alpha-10));
            background-color: rgba(var(--indigo-800), var(--alpha-3));
          }
        }
        .button {
          padding: 0 1rem;
          color: rgba(var(--indigo-500), var(--alpha-10));
          border: 1px solid rgba(var(--indigo-500), var(--alpha-10));
          border-radius: var(--rounded);
          transition: 0.5s;
          &:hover {
            color: rgba(var(--white), var(--alpha-10));
            border-color: rgba(var(--indigo-400), var(--alpha-10));
            background-color: rgba(var(--indigo-500), var(--alpha-10));
          }
        }
      }
    }
  }

  /* Main */
  .main {
    margin-top: 3.5rem;
    padding-top: 1rem;
  }

  /* Footer */

  .footer {
  }

  /* Login, Register */
  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
    width: 100%;
    max-width: 40rem;
    padding: 3rem;
    .title {
      font-size: 1.875rem;
    }
    .link {
      color: rgba(var(--indigo-500), var(--alpha-10));
      transition: 0.5s;
      &:hover {
        text-decoration: underline;
        color: rgba(var(--indigo-400), var(--alpha-10));
      }
    }
    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .formGroup {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .label {
          font-weight: 500;
        }
        .formControl {
          outline: 0;
          line-height: 1.5;
          font-size: 1rem;
          border: 1.5px solid rgba(var(--gray-800), var(--alpha-10));
          border-radius: var(--rounded);
          padding: 0.5rem;
          color: rgba(var(--white), var(--alpha-10));
          transition: 0.5s;
          background-color: rgba(var(--gray-900), var(--alpha-10));
          &:focus {
            border-color: rgba(var(--indigo-500), var(--alpha-10));
            box-shadow: 0 0 0 1px rgba(var(--indigo-500), var(--alpha-10));
          }
        }
        .error {
          font-size: 0.875rem;
          color: rgba(var(--error-400), var(--alpha-10));
        }
      }
      .submit {
        margin-top: 1rem;
        line-height: 1.5;
        font-size: 1rem;
        padding: 0.75rem;
        border: 0;
        border-radius: var(--rounded);
        color: rgba(var(--white), var(--alpha-10));
        background-color: rgba(var(--indigo-600), var(--alpha-10));
        &:hover {
          background-color: rgba(var(--indigo-500), var(--alpha-10));
        }
        &:disabled {
          cursor: not-allowed;
          background-color: rgba(var(--gray-800), var(--alpha-10));
        }

        .spinner {
          vertical-align: middle;
          font-size: 1.25rem;
          -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
        }
      }
    }
    .errorResponse {
      font-size: 1rem;
      padding: 1rem;
      border-radius: var(--rounded);
      color: rgba(var(--error-400), var(--alpha-10));
      background-color: rgba(var(--error-400), var(--alpha-1));
      transition: 0.5s;
      .title {
        font-weight: bolder;
      }
    }
  }

  /* User */
  .userBg {
    background: linear-gradient(180deg, red 8rem, transparent 8rem);
    .userLayout {
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;
      padding: 1rem;
      padding-top: 4rem;
      .userContainer {
        margin-top: 0.5rem;
        padding: 1.5rem;
        border-radius: 5px;
        color: var(--white);
        box-shadow: 0 0 0 1px var(--white, --alpha-1);
        overflow-wrap: anywhere;
        text-align: center;
        .userTop {
          position: relative;
          margin-top: -4rem;
          margin-bottom: 0.75rem;
          padding: 0 1.5rem;
          .userAvatar {
            padding: 0.5rem;
            width: 9rem;
            height: 9rem;
            display: inline-block;
            border-radius: 100%;
            position: relative;
            overflow: hidden;
            vertical-align: middle;
            background-color: red;
            .userAvatarImg {
              border-radius: 100%;
              width: 128px;
              height: 128px;
              display: inline-block;
              vertical-align: bottom;
            }
          }
          .userAction {
            display: flex;
            right: 0;
            top: 4rem;
            position: absolute;
            left: 0;
            justify-content: flex-end;
            padding: 1.5rem 1.5rem 0 0;
            .userFollow {
              padding: 8px 16px;
              border-radius: 10px;
              border: none;
              background-color: #0056b3;
              &:hover {
                background-color: #007bff;
              }
            }
          }
        }
        .userDetail {
          padding: 1.5rem;
          .userUserName {
            margin-bottom: 0.5rem;
            .userUserNameText {
              line-height: 1.25;
              font-size: 1.875rem;
              color: #f9f9f9;
              display: inline-flex;
              min-height: 40px;
              align-items: center;
            }
          }
        }
      }
    }
  }

  /* User Setting */
  .userSettingForm {
    .userSetting {
      padding: 1.5rem;
      margin-bottom: 1.5rem;
      grid-gap: 1.5rem;
      display: grid;
      border-radius: 5px;
      background: #171717;
      color: white;
      box-shadow: 0 0 0 1px var(--white, --alpha-1);
      .userSettingField {
        display: flex;
        flex-flow: column;
        font-size: 1rem;
        .labelSetting {
          color: white;
          font-weight: 500;
        }
        .inputSetting {
          outline: 0;
          line-height: 1.5;
          padding: 0.5em;
          font-family: inherit;
          font-size: 1rem;
          width: 100%;
          resize: vertical;
          border-width: 1.5px;
          background-color: black;
          border: 1.5px solid black;
          color: white;
          border-radius: 0.5px;
        }
        .userAvatarRowSetting {
          display: flex;
          align-items: center;
          margin-top: 0.5rem;
          .userAvatarSetting {
            margin-right: 0.5rem;
            width: 3rem;
            height: 3rem;
            display: inline-block;
            border-radius: 100%;
            position: relative;
            background-color: rgb(163, 163, 163);
            overflow: hidden;
            vertical-align: middle;
            flex-shrink: 0;
            .imgSetting {
              border-radius: 100%;
              width: 100%;
              height: 100%;
              display: inline-block;
              vertical-align: bottom;
            }
          }
        }
        .buttonSetting {
          background-color: rgb(79, 70, 229);
          border-color: transparent;
          box-shadow: 0 2px 5px var(--black, --alpha-5);
          color: white;
          padding: 0.5rem;
          cursor: pointer;
          &:hover{
            background-color: #007bff;
          }
        }
      }
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
