@supports (--css: variables) {
  .container {
    width: 100%;
    max-width: 50rem;
    padding: 0 0.5rem;
    margin: 0 auto;
  }

  /* Main */
  .main {
    margin: 3.5rem auto;
    padding-top: 1rem;
    min-height: 100vh;
  }

  .articleWrapper {
    margin: 0.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .error {
    font-size: 0.875rem;
    color: rgba(var(--error-400), var(--alpha-10));
  }

  /* Footer */
  .footer {
    position: sticky;
    bottom: 0;
    background-color: rgba(var(--gray-900), var(--alpha-10));
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 0.5rem;
      .icon {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  .spinner {
    vertical-align: middle;
    font-size: 1.25rem;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
