@import url('./Global.module.css');

@supports (--css: variables) {
  .userBg {
    min-height: 80vh;
    .userLayout {
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;
      padding: 1rem 0;
      padding-top: 4rem;
      .userContainer {
        margin-top: 0.5rem;
        padding: 1.5rem;
        border-radius: 5px;
        color: var(--white);
        box-shadow: 0 0 0 1px var(--white, --alpha-1);
        overflow-wrap: anywhere;
        text-align: center;
        background-color: rgba(var(--gray-900));
        .userTop {
          position: relative;
          margin-top: -4rem;
          margin-bottom: 0.75rem;
          padding: 0 1.5rem;
          .userAvatar {
            padding: 0.5rem;
            width: 9rem;
            height: 9rem;
            display: inline-block;
            border-radius: 100%;
            position: relative;
            overflow: hidden;
            vertical-align: middle;
            background-color: rgba(var(--gray-900));
            .userAvatarImg {
              border-radius: 100%;
              width: 128px;
              height: 128px;
              display: inline-block;
              vertical-align: bottom;
            }
            .img {
              border-radius: 100%;
              width: 128px;
              height: 128px;
              display: inline-block;
              vertical-align: bottom; /* Makes it a circle (assuming the image is a circular avatar) */
              animation: loading-spin 1s infinite linear; /* Apply a spinning animation */
              background-image: linear-gradient(
                to right,
                rgba(var(--gray-800), var(--alpha-6)) 20%,
                rgba(var(--gray-800), var(--alpha-3)) 40%,
                rgba(var(--gray-800), var(--alpha-3)) 60%,
                rgba(var(--gray-800), var(--alpha-6)) 80%
              );
              background-size: 200% 200%;
              color: transparent; /* Hide the background initially */
            }
          }
          .userAction {
            display: flex;
            right: 0;
            top: 4rem;
            position: absolute;
            left: 0;
            justify-content: flex-end;
            padding: 1.5rem 1.5rem 0 0;
            .userFollow {
              padding: 8px 16px;
              border-radius: 10px;
              border: none;
              color: rgba(var(--white), var(--alpha-10));
              background-color: rgba(var(--indigo-400), var(--alpha-10));
              &:hover {
                background-color: rgba(var(--indigo-500), var(--alpha-10));
              }
            }
          }
        }
        .userDetail {
          padding: 1.5rem;
          .userUserName {
            margin-bottom: 0.5rem;
            .name {
              width: 150px; /* Adjust the width as needed */
              display: inline-flex;
              min-height: 40px;
              align-items: center; /* Adjust the height as needed */
              background-image: linear-gradient(
                to right,
                rgba(var(--gray-800), var(--alpha-6)) 20%,
                rgba(var(--gray-800), var(--alpha-3)) 40%,
                rgba(var(--gray-800), var(--alpha-3)) 60%,
                rgba(var(--gray-800), var(--alpha-6)) 80%
              );
              background-size: 200% 200%; /* Background color for the loading name */
              margin-top: 10px; /* Adjust the margin as needed */
            }
            .userUserNameText {
              line-height: 1.25;
              font-size: 1.875rem;
              color: var(--gray-50);
              display: inline-flex;
              min-height: 40px;
              align-items: center;
            }
          }
        }
      }
    }
    .userList {
      margin: 0.5rem 0 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  /* Style for the loading name */
  .errorResponse {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: var(--rounded);
    color: rgba(var(--error-400), var(--alpha-10));
    background-color: rgba(var(--error-400), var(--alpha-1));
    transition: 0.5s;
    .title {
      font-weight: bolder;
    }
  }

  /* User Setting */
  .userSettingForm {
    .userSetting {
      padding: 1.5rem;
      margin-bottom: 1.5rem;
      grid-gap: 1.5rem;
      display: grid;
      border-radius: 5px;
      background: #171717;
      color: white;
      box-shadow: 0 0 0 1px var(--white, --alpha-1);
      .userSettingField {
        display: flex;
        flex-flow: column;
        font-size: 1rem;
        .labelSetting {
          color: white;
          font-weight: 500;
        }
        .inputSetting {
          overflow: hidden;
          resize: vertical;
          outline: 0;
          line-height: 1.5;
          padding: 0.5em;
          font-family: inherit;
          font-size: 1rem;
          width: 100%;
          border-width: 1.5px;
          background-color: black;
          border: 1.5px solid black;
          color: white;
          border-radius: var(--rounded);
          &.fieldImage {
            resize: none;
          }
        }
        .userAvatarRowSetting {
          display: flex;
          align-items: center;
          margin-top: 0.5rem;
          .userAvatarSetting {
            margin-right: 0.5rem;
            width: 3rem;
            height: 3rem;
            display: inline-block;
            border-radius: 100%;
            position: relative;
            background-color: rgb(163, 163, 163);
            overflow: hidden;
            vertical-align: middle;
            flex-shrink: 0;
            .imgSetting {
              border-radius: 100%;
              width: 100%;
              height: 100%;
              display: inline-block;
              vertical-align: bottom;
            }
          }
        }
        .buttonSetting {
          line-height: 1.5;
          font-family: inherit;
          font-weight: 500;
          border-color: transparent;
          box-shadow: 0 2px 5px var(--black, --alpha-5);
          color: white;
          padding: 0.8rem;
          border-radius: var(--rounded);
          cursor: pointer;
          background-color: rgba(var(--indigo-600), var(--alpha-10));
          transition: 0.2s;
          &:hover {
            background-color: rgba(var(--indigo-500), var(--alpha-10));
          }
          &:active {
            background-color: rgba(var(--indigo-800), var(--alpha-10));
          }
          &:disabled {
            cursor: not-allowed;
            background-color: rgba(var(--gray-800), var(--alpha-10));
          }
        }
      }
    }
    .error {
      font-size: 0.875rem;
      color: rgba(var(--error-400), var(--alpha-10));
    }
  }
}
